.navbar-light{
    background-color: #ffffff;
    height: 80px;
}
a:link, a:visited {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    font-size: 20px;

}

a:hover {
    background-color: white;
    color:red;
    border: 2px solid red;

}
.fade-down {
    position: relative;
    animation-name: fadedown;
    animation-duration: 1s;
    animation-iteration-count: 1;
    top: var(animation-name);
    margin-top:-550px;
    color:lavenderblush;
    font-size: 88px;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: 1.2px;
    margin-left:15%;
    margin-bottom: 60px;
}

@keyframes fadedown {
    0% {
        top: 400px;
    }
    50% {
        top: 400px;
    }
    100% {
        top: 0px;
    }
}
.ten{
    font-weight: 700;
    font-size: 70px;
    margin: 10px;
    text-align: center;
}
.col{
    display: flex;

}
.d1{
    text-align: right;
}
h{
    font-weight: 600;
}
.col-10{
    text-align: right;
    height: 30px;
}
.one-1{
    background-color: white;
    color: red;
    font-size: 25px;

}
.one-1:hover{
    background-color: #b02a37;
    color: white;
}
.col-9{
    margin-left: 50px;
    margin-top: -40px;
}
.ten-9{
    margin-top: 30%;
    padding: 0px;
}
.ten-1{
    margin-top: 20px;
}
.ten-2{
    margin-top: 30px;
}
.c1 h3{
    font-size: 60px;
    font-weight: 700;
}
.c1 h4{
    font-size: 40px;
    font-weight: 500;

}
.c1{
    margin-top:-36%;
    margin-left: 5%;
    text-align: center;
    color:rebeccapurple;
}
.col-3 h5{
    font-weight: 600;
    font-size: 30px;
    text-align:justify;
    color: white;
    line-height: 30px;
    margin-top: 20px;
}
p1{
    font-size: 20px;
    font-weight:500;
    color: white;
}
.bi-search-heart{
    margin-left: 100px;
    color: white;
}

.col-3 e4{
    background-color: #f2e7c3;
}.nice{
    margin-top:200px;
 }
 .h9{
     font-size: 56px;
     font-weight:600;
     letter-spacing: .5px;
     margin-left: 23%;
 }
 .mn{
     font-size:30px;
     font-weight:600;
     text-align: center;
 }
 .nice .e4{
     margin: 0 10px;
     width: calc(25% - 20px);
     align-items: center;
 }
 .row{
     display: flex;
 }
 .nice .container {
     box-sizing: border-box;
 }
 .f1{
     background-color: #0dcaf0;
 }
 .f2{
     background-color: #0dcaf0;
 }
 .f3{
     background-color: #0dcaf0;
 }
 .f4{
     background-color: #0dcaf0;
 }
 .nice .e4 i{
     margin: 0 105px;
 }
 .like{
     display: flex;
     margin-top: 40px;
 }
 .like2{
     text-align: center;
     margin: 15px 0 0 20%;

 }
 .like2 h2{
     font-size:60px;
 }
 .like2 h5{
     font-size:30px ;
 }
 .like{
     margin-left: 10%;
 }

